$color_grey: (
  50: #e8e8e8,
  100: #b8b8b8,
  200: #959595,
  300: #656565,
  400: #474747,
  500: #191919,
  600: #171717,
  700: #121212,
  800: #0e0e0e,
  900: #0b0b0b,
);

$color_blue: (
  50: #e6e6fd,
  100: #b0b0f8,
  200: #8a8af5,
  300: #5454f1,
  400: #3333ee,
  500: #0000ea,
  600: #0000d5,
  700: #0000a6,
  800: #000081,
  900: #000062,
  1000:#00036C,
);
$color_blue2: (
  50: #e6fcfd,
  100: #b0f7f9,
  200: #8af3f6,
  300: #54edf2,
  400: #33e9ef,
  500: #00e4eb,
  600: #00cfd6,
  700: #00a2a7,
  800: #007d81,
  900: #006063,
);
